.main-nav {
    min-height: 70px;
    padding-left: 40px;
    border-bottom: 5px solid #fd7e14;
}
.nav-logo-text {
    display: flex;
    align-items: center;
}

.nav-logo-text, .nav-logo-text:hover {
    color: #FFF; 
}

.nav-logo-text h4 {
    font-size: 25px;
}

.nav-logo-text img {
    width: 60px;
    height: auto;
    margin-right: 10px;
}

.main-menu {
    display: flex;
    font-size: 15px;
    width: 600px;
    justify-content: space-between;
}

.main-menu a {
    color: rgba(255, 255, 255, 0.5);
}

.main-menu a:hover {
    color: #FFF;
}

.main-menu a.active {
    font-weight: bold;
    color: #FFF;
}

@media (min-width:576px) {

    .nav-logo-text h4 {
        font-size:28px;
    }

    .nav-logo-text img {
        width: auto;
        height: 50px;
    }

    .main-menu {
        font-size: 18px;
    }
}
